/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

/* Cabeçalho */
header {
    background: linear-gradient(135deg, #3498db);
}